@charset "UTF-8";

@font-face {
    font-family: 'Deadknight';
    src: url('../fontes/Deadknight.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor01: #D9043D;
    --cor02: #D90452;
    --cor03: #BF0404;
    --cor04: #8C0303;
    --cor05: #0D0D0D;

    --fonte-padrao: 'Arial', Helvetica, sans-serif;
    --fonte-titulo: 'Deadknight', serif;
}

* {
    margin: 0px;
    padding: 0px;
}


header {
    height: 50px;
    padding-top: 20px;
    display: block;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
}

.imagem-logo {
    width: 10rem;
    display: inline-block;
}

.menu-container {
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    min-width: 300px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor02);
    padding: 5px 10px;
}

.menu a:hover {
    color: var(--cor04);
    border-radius: 5px;

}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: -8px;
}

@media (max-width: 700px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: var(--cor02);
        color: var(--cor05);
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .menu a {
        color:  var(--cor05);
    }

    .menu a:hover {
        background-color: var(--cor05);
        color: var(--cor02);
    }
    .menu.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

main {
    font-family: var(--fonte-padrao);
    text-align: center;
    margin-top: 20px;
}